{{ define "main" }}

    <div class="post-list-container post-list-container-shadow">
        {{ $featured_image := .Params.featured_image }}
        {{ if $featured_image }}
        <div class="post">
            <div class="post-head-wrapper"
                {{ $image := .Resources.GetMatch (.Params.featured_image) }}
                {{ if $image }}
                style="background-image: url('{{$image.RelPermalink }}')"
                {{ else }}
                style="background-image: url('{{ $featured_image | absURL}}')"
                {{ end }}
            >
                <div class="post-title">
                    {{ .Title }}
                    {{ if .Params.description }}
                    <div class="post-subtitle">
                        {{ .Params.description }}
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="post-body-wrapper">
                {{ if .Params.enableVue }}
                <div class="post-body">
                {{ else }}
                <div class="post-body" v-pre>
                {{ end }}
                    {{.Content}}
                </div>
            </div>
        </div>
        {{ end }}

        {{ range .Paginator.Pages.GroupByDate "2006" }}
            <a class="a-block">
                <div class="post-item-wrapper post-item-wrapper-no-hover">
                    <div class="post-item post-item-no-gaps">
                        <div class="post-item-info-wrapper">
                            <div class="post-item-title post-item-title-small year">
                                {{ .Key }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{ range .Pages }}
            <a href="{{ .RelPermalink }}" class="a-block">
                <div class="post-item-wrapper">
                    <div class="post-item post-item-no-gaps">
                        <div class="post-item-info-wrapper">
                            <div class="post-item-title">
                                {{.Title}}
                            </div>
                            {{ partial "post-item-meta.html" . }}
                        </div>
                    </div>
                </div>
            </a>
            {{ end }}
        {{ end }}
    </div>

{{ end }}
